parameters:
    level: max
    paths:
        - src
    ignoreErrors:
        - "#function call_user_func expects callable#"
        - "#ArrayValues::offset.* typehint specified#"
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
